body {
    font-family: Arial, sans-serif;
    background-color: #f5e0d3;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
#apiResponse {
    margin-top: 20px;
}
.content-section {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table-dark {
    background-color: #000;
    color: #fff;
}
.table-dark th,
.table-dark td {
    border-color: #555;
}