{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'inicio.css' %}" rel="stylesheet" type="text/css">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" data-bs-theme="white">
        <div class="container-fluid">
          <a class="navbar-brand" href="principal">
            <img src="{% static 'images/joya.png' %}" alt="Logo" width="50" height="50">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ORO
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="oroaros">AROS</a></li>
                  <li><a class="dropdown-item" href="anillos">ANILLOS</a></li>
                  <li><a class="dropdown-item" href="cadena">CADENAS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PLATA
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="arosplata">AROS</a></li>
                  <li><a class="dropdown-item" href="anillosplata">ANILLOS</a></li>
                  <li><a class="dropdown-item" href="cadenaplata">CADENAS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Información
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="sobrenosotros">¿Quiénes somos nosotros?</a></li>
                  <li><a class="dropdown-item" href="contacto">Contacto</a></li>
                  <li><a class="dropdown-item" href="sucursales">Sucursales</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuenta
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="insesion">Iniciar Sesión</a></li>
                  <li><a class="dropdown-item" href="registro">Registrarse</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="API">Valor del Oro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="principal">Atrás</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div class="login-form">
      <form action="principal" method="POST" id="form">
          <h2>Inicio de Sesión</h2>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
              <label for="contraseña">Contraseña</label>
              <input type="password" name="contraseña" id="contraseña" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
         
          <a href="registro" class="btn btn-primary forgot-password">Crea tu cuenta acá</a>
          
          <a href="#" class="btn btn-primary forgot-password">Olvidé mi Contraseña</a>
          <p class="warnings" id="warnings"></p>
      </form>
  </div>
<script src="{% static 'inisesion.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
